body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.upload-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.upload-btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#fileList {
  margin-top: 20px;
  text-align: left;
}

#fileList ul {
  list-style-type: none;
  padding: 0;
}

#fileList li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
